@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

/* General styles */
.App {
  text-align: left;
  padding: 3% 6%;
}

.App * {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 0.2;
}

h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

p {
  margin: 12px 0;
  font-size: 16px;
  line-height: 1.6;
}

label {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

span {
  color: #074745;
  font-size: 14px;
  font-weight: 500;
}

.sub-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.logo-container {
  float: left;
  margin: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

ul,
#event-list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  max-width: 800px;
}

/* Event box styles */
.event-box {
  position: relative;
  min-height: 150px; /* Reserve space for dynamic content */
  border: #bcdcdb 2px solid;
  border-radius: 4px;
  margin-bottom: 35px;
  padding: 35px;
  background-color: #fff;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.event-box h3 {
  margin-top: 0;
}

.event-box p,
.event-box button {
  margin: 8px 0;
}

.details-btn {
  position: absolute;
  top: 5px;
  right: 13px;
  padding: 10px 16px;
  border-radius: 4px;
  background: linear-gradient(to right, #065a60, #08878d);
  color: white;
  cursor: pointer;
  border: 1px solid #074745;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.details-btn button:hover {
  background: linear-gradient(to right, #048383, #06a1a4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Input styles */
input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 10px;
}

.city {
  width: 250px;
}

#city-search,
#number-of-events {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

/* Suggestions styles */
.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  min-height: 100px; /* Reserve space for dynamic content */
  overflow: hidden;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

/* Event styles */
.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

#details {
  padding: 6px;
  border: 1px solid #eae6e6;
  border-radius: 3px;
  position: relative;
  text-align: justify;
}

.alerts-container {
  position: fixed;
  opacity: 0.9;
  bottom: 2%;
  right: 2%;
  width: 80%;
  max-width: 250px;
  z-index: 1000;
}

.charts-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #event-list {
    margin: 2rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 460px) {
  #event-list {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
}
